init.view
.netrwbook
.netrwhist

emacs.d/recentf
emacs.d/bookmarks
emacs.d/elpa

emacs.d/orgs/*
emacs.d/backups/*
emacs.d/auto-save-list/*
emacs.d/autosaves/*
emacs.d/journal/*

!emacs.d/orgs/.keep
!emacs.d/backups/.keep
!emacs.d/auto-save-list/.keep
!emacs.d/autosaves/.keep
!emacs.d/journal/.keep

!emacs.d/orgs/emacs.org
!emacs.d/orgs/english.org
!emacs.d/orgs/shortcuts.org
!emacs.d/orgs/emacs_migration.org

emacs.d/.persistent-scratch
emacs.d/.hl-save
emacs.d/network-security.data
emacs.d/org-clock-save.el
emacs.d/ido.last
emacs.d/local-config.el

vim/vim/init.vim
