.dap-breakpoints
.lsp-eslint-choices
.lsp-session-*
.yas-compiled-snippets.el
.persp-confs
.org-id-locations
.persistent-scratch
abbrev_defs
ac-comphist.dat

/auto-save-list/*
/autosaves/*
/backups
bookmarks~
/.cache
/.extension
company-statistics-cache.el
custom.el
diary
elpa_bak
elpy
erc
eslint
ido.last
nov-places
org-clock-save.el
org-journal.cache
org-roam.db
projectile-bookmarks.eld
projectile.cache
transient
tramp
recentf
recentf~
roam.sqlite
savehist
session.*
straight/build
straight/build-cache.el
straight/repos
projects
/company-statistics-cache.el
/ido.last
/nov-places
/projectile.cache
/projectile-bookmarks.eld
/projects
/recentf
/savehist
/session.*
/tramp
/org-roam.db
/diary
/.persistent-scratch
/.lsp-session-*
/.dap-breakpoints
/tabsession.el
/org-clock-save.el
/.org-id-locations
/var
/transient
/tramp-autosaves
/eshell
/emojis
/eln-cache

#*
chatgpt
projects
var/prescient-save.el
flycheck_*
elpa

/url/cookies
/eww-bookmarks

/emacs-local-config/local-config.el
/emacs-local-config/custom.el
/rss

/tabsession.el

/tree-sitter
/org-persist

.DS_Store