transient
elpa_bak
elpy
org-journal.cache
roam.sqlite
backups
autosaves
.lsp-session-*
.lsp-eslint-choices
diary
erc
eslint
ac-comphist.dat
recentf~
bookmarks~
.cache
.dap-breakpoints
!elpa
eln-cache
org-roam.db
.yas-compiled-snippets.el
.persp-confs
nov-places