.cache
.dap-breakpoints
.lsp-eslint-choices
.lsp-session-*
.yas-compiled-snippets.el
.persp-confs
.org-id-locations
.persistent-scratch
abbrev_defs
ac-comphist.dat
autosaves
backups
bookmarks~
company-statistics-cache.el
custom.el
diary
eln-cache
elpa_bak
elpy
erc
eslint
ido.last
nov-places
org-clock-save.el
org-journal.cache
org-roam.db
projectile-bookmarks.eld
projectile.cache
transient
tramp
recentf
recentf~
roam.sqlite
savehist
session.*
straight/build
straight/build-cache.el
straight/repos
#*
chatgpt
projects
var/prescient-save.el
flycheck_*
elpa

/url/cookies
/eww-bookmarks

/emacs-local-config/local-config.el
/emacs-local-config/custom.el
/rss

/tabsession.el