#!/bin/bash

export USER_NAME=""
export EMAIL=""
export SIGNING_KEY=""

source $HOME/.dotenv/env.sh

if hash brew &> /dev/null; then
  if [ -f `brew --prefix`/etc/bash_completion ]; then
    . `brew --prefix`/etc/bash_completion
  fi
fi


# source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc'
# source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.bash.inc'
#complete -C aws_completer aws
