snippet tc "try catch block"
try {
	$0
} catch (err) {
	$1
}
endsnippet

snippet not "throw Error('Not implemented!')"
throw new Error('Not implemented')
endsnippet

snippet cl "console.log(...)"
console.log(`$0`)
endsnippet

snippet cw "console.warn(...)"
console.warn(`$0`)
endsnippet

snippet ce "console.error(...)"
console.error(`$0`)
endsnippet

snippet todo "// TODO ..."
// TODO(`echo $EMAIL`) ${1:implement} $0
endsnippet

snippet { "position in new anonim object def"
{
$0

endsnippet
