extends es6

snippet cclass "Connected container for component"
import { connect } from "react-redux"

import ${1} from "../components/$1"

const mapStateToProps = state => ({
})

const mapDispatchToProps = dispatch => ({
})

export default connect(mapStateToProps, mapDispatchToProps)($1)
endsnippet
