/straight
/recentf
/transient
/history
/var
/tmp
/.persistent-scratch
/emacs-local-config/local-config.el
/org-roam.db
/tramp-persistency.el
/tramp
/tree-sitter
*~*
/projectile-bookmarks.eld
/.org-id-locations

/.mc-lists.el