/straight
/recentf
/transient
/persist
/history
/var
/tmp
/url
/.persistent-scratch
/emacs-local-config/local-config.el
/emacs-local-config/local-post-config.el
/org-roam.db
/tramp-persistency.el
/tramp
/tree-sitter
*~*
/projectile-bookmarks.eld
/projectile-frecency.eld
/.org-id-locations
/eshell
/url-cache

/.mc-lists.el
/emacs.desktop
/emacs.desktop.lock